.hero{
    margin: 0px 20px;
    margin-top:120px ;
}
.hero-text{
  color: #fff;
  font-size: 110px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 500;
  line-height: 20px;  
}
.hero-explore{
    display: flex;
    align-items: center;
    gap: 30px;
    width: fit-content;
    margin-top: 70px;
    padding: 5px 8px;
    padding-left: 30px;
    border-radius: 60px;
    background-color: #fff;
    cursor: pointer;
}
.img{
    height: 50px;

}
.hero-explore p{
    color: #262626;
    font-size: 20px;
    font-weight: 500;
}
.hero-dot-play{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.vdo{
    height: 50px;
}
.hero-dots{
    display: flex;
    align-items: center;
    gap: 23px;
    list-style: none;
}
.hero-dot{
    width: 15px;
    height: 15px;
    border-radius: 7.5px;
    background: #fff;
    cursor: pointer;
}
.hero-dot.orange{
    background: #262626;
}
.hero-play{
    display: flex;
    align-items: center;
    gap: 30px;
}
.hero-play p{
    color: #fff;
    font-size: 19px;
}
